.GoBackBtn {
  margin: 10px;
}

.MainMovieInfo {
  display: flex;
}
.MainMovieInfoDetails {
  margin-left: 5px;
}

.MoviePoster {
  max-height: 300px;
  max-width: 200px;
}

h1,
h2,
p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.GenresList {
  margin: 0px;
  padding: 0;
}
.GenreItem {
  display: inline;
  margin-right: 5px;
}

.Loader {
  display: block;
  text-align: center;
  margin-top: 15px;
}
